body {
  margin: 0;
  padding: 0;
  background: var(--secondary-light-color);
}

.two-columns {
  display: grid;
  grid-template-columns: minmax(2rem, 1fr) 15rem auto minmax(2rem, 1fr);
  grid-column-gap: 1rem;
}

.two-columns header {
  grid-column: 2 / 3;
}

.two-columns main {
  grid-column: 3 / 4;
}

.upper-nav-bar {
  display: grid;
  grid-template-columns: 1fr minmax(30rem, 100%) 1fr;
  grid-row-gap: 1rem;
}

header {
  background: var(--main-light-color);
  padding: 1rem;
}

header nav {
  position: -webkit-sticky;
  position: sticky;
  top: 1rem;
}

header nav ul {
  list-style: none;
  padding-left: 1rem;
}

main {
  background: var(--main-light-color);
  padding: 1rem;
}
