.login-form {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: 1fr auto 1fr;
  height: calc(100vh - 2rem);
  width: calc(100vw - 2rem);
}

.login-form div {
  display: grid;
  grid-column: 2 / 3;
  grid-row:  2 / 3;
  grid-template: "logo logo"
                 "msg msg"
                 "username-label username-input"
                 "password-label password-input"
                 "forgotten login";
  
}

.login-form.login-error div {
  grid-template: "logo logo"
                 "msg msg"
                 "error error"
                 "username-label username-input"
                 "password-label password-input"
                 "forgotten login";
  
}

.login-form div h1 {
  grid-area: logo;
  text-align: center;
}

.login-form div .login-message {
  grid-area: msg;
  text-align: center;
}

.login-form div .login-error-message {
  grid-area: error;
  text-align: center;
  display: none;
}

.login-form.login-error div .login-error-message {
  display: block;
}

.login-form div #login-button {
  grid-area: login;
}